*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100%;
    background-color: #5f9ea0;
    color: #fff;
    text-align: center;
}
h1{
    height: 100%;
    margin:50px auto;
}
#search-form{
    max-width: 500px;
    height: 50px;
    margin: auto;
    background: aquamarine;
    display: flex;
    border-radius: 8px;
}
#search-box{
    padding: 15px;
    width: 100%;
    font-size: 1.2rem;
    outline:none;
    border: none;
    border-radius: 8px;
    background: none;
    color: rgb(130, 92, 92);
    font-weight: 500;
}
::placeholder{
    color:rgb(130, 92, 92);
}
#search-button{
    width: 100%;
    max-width: 130px;
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(200, 96, 96);
    font-size: 1.2rem;
    color: #fff;
}
#more-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-align: center;
    background-color: rgb(200, 96, 96);
    font-size: 1.2rem;
    color: #fff;
    margin: 10px auto 100px;
    display: none;
}
#search-result{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 70px 0;
}
#search-result img{
  
    width: 350px;
    height:350px;
    object-fit: cover;
    border-radius: 5px;
    aspect-ratio: 3/2;
    position: relative;
   z-index: -1;
}
span{
    
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translatey(-100%);
    transition:linear;
    width: 350px;
    height: 180px;
    background-color: grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: .8;
    color:#fff;
    font-weight: 500;
    font-size: 1.1rem;
    animation: slide  .4s linear;
}
@keyframes slide{
    0%{
        background-color: grey;
        height: 10%;
    }
   
    100%{
        background-color: grey;
    }
}